{% load static %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static card_img %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card_title">Император {{ card_name }}</h3>
        <p class="card-text">Даты жизни {{ card_life }}.</p>
        <p class="card-text">Даты правления {{ card_imp }}.</p>
        <p class="card-text">Достижения и неудачи: {{ card_cur }}</p>
      </div>
    </div>
  </div>
</div>